body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.room-card {
  border: 1px solid gray;
  padding: 10px;
}